{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<!-- NAVBAR -->
<div id="navBar">
    <div id="navBarHeader">
        <div id="navBarHeaderLeft">
            <h3 class="text-light text-center mt-2">Nos Horaires</h3>
            <ul class="list-unstyled text-center">
              <li class="text-light">Lundi à Samedi : 10h à 19h</li>
              <li class="text-light">Dimanche : 10h à 13h</li>
            </ul>
        </div>
        <div id="navBarHeaderMiddle"></div>
        <div id="navBarHeaderRight">
            <div class="navBarPicto" id="phone"></div>
            <div class="navBarPicto" id="fbk"></div>
            <div class="navBarPicto" id="insta"></div>
        </div>
    </div>
    <div id="navBarFooter">
      <ul class="list-unstyled text-light d-flex justify-content-around mt-3 ">
        <li class="list-inline-item navLink">LA CAVE</li>
        <li class="list-inline-item navLink">NOS VINS</li>
        <li class="list-inline-item navLink">NOS CHAMPAGNES</li>
        <li class="list-inline-item navLink">NOS BIERES</li>
        <li class="list-inline-item navLink">NOS SPIRITUEUX</li>
        <li class="list-inline-item navLink">INFO / CONTACT</li>
      </ul>
    </div>
</div>

<!-- SLIDER -->
<div id="carouselExampleControls" class="carousel slide sliderPosition vw-100 " data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active carousselSize">
      <img class="d-block w-100" src="{{asset('/img/auTirBouchonSlider_1.jpg')}}" alt="First slide">
    </div>
    <div class="carousel-item carousselSize">
      <img class="d-block w-100" src="{{asset('/img/auTirBouchonSlider_2.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item carousselSize">
      <img class="d-block w-100" src="{{asset('/img/auTirBouchonSlider_3.jpg')}}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--TEXTE SLIDER-->
<div class="main-text">
    <div class="col-md-12 text-center">
        <strong class="textSlider">Le vin c'est de la poésie</strong>
        <strong class="textSlider pl-3">en bouteille...</strong>
    </div>
</div>


<!-- FIRST SEPARATOR -->
<div class="container-fluid firstSeparator vh-100"></div>

{% endblock %}
