{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<!-- NAVBAR -->
<div id="navBar">
    <div id="navBarHeader">
        <div id="navBarHeaderLeft">
            <h3 class="text-light text-center mt-2">Nos Horaires</h3>
            <ul class="list-unstyled text-center">
              <li class="text-light">Lundi à Samedi : 10h à 19h</li>
              <li class="text-light">Dimanche : 10h à 13h</li>
            </ul>
        </div>
        <div id="navBarHeaderMiddle"></div>
        <div id="navBarHeaderRight">
            <div class="navBarPicto phone"></div>
            <div class="navBarPicto fbk"></div>
            <div class="navBarPicto insta"></div>
        </div>
    </div>
    <div id="navBarFooter">
      <ul class="list-unstyled  d-flex justify-content-around mt-3 ">
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">LA CAVE</a></li>
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">NOS VINS</a></li>
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">NOS CHAMPAGNES</a></li>
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">NOS BIERES</a></li>
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">NOS SPIRITUEUX</a></li>
        <li class="list-inline-item "><a href="#test" class="navLink colorNavLink">INFOS / CONTACT</a></li>
      </ul>
    </div>
</div>

<!-- NAV BAR RESPONSIVE -->
<div class='container fixed-top showMenu'>
  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn">&times;</a>
    <div class="overlay-content">
      <a class='link' href="#">About</a>
      <a class='link' href="#">Services</a>
      <a class='link' href="#">Clients</a>
      <a class='link' href="#">Contact</a>
    </div>
  </div>
  <span  id="btn" >&#9776;</span>
</div>

<div class="container-fluid fixed-bottom footerReponsive d-flex align-items-center justify-content-around">
    <div class="footerPicto phone"></div>
    <div class="footerPicto fbk"></div>
    <div class="footerPicto insta"></div>
</div>
<!-- SLIDER -->
<div id="carouselExampleControls" class="carousel slide sliderPosition vw-100 sliderResponsive " data-ride="carousel">
  <div class="carousel-inner sliderResponsive">
    <div class="carousel-item active carousselSize">
      <img class="d-block w-100 imgSliderSize" src="{{asset('/img/auTirBouchonSlider_1.jpg')}}" alt="First slide">
    </div>
    <div class="carousel-item carousselSize">
      <img class="d-block w-100 imgSliderSize" src="{{asset('/img/auTirBouchonSlider_2.jpg')}}" alt="Second slide">
    </div>
    <div class="carousel-item carousselSize">
      <img class="d-block w-100 imgSliderSize " src="{{asset('/img/auTirBouchonSlider_3.jpg')}}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--TEXTE SLIDER-->
<div class="main-text">
    <div class="col-md-12 text-center">
        <div id="typedtext" class="textSlider"></div>
    </div>
</div>


<!-- FIRST SEPARATOR -->
<div class="container-fluid firstSeparator separatorResponsive vh-100"></div>

<!-- LA CAVE -->
<div class="container-fluid vh-100" id="test">
  <div class="row h-100">
    <div class="col-md-6 d-flex align-items-center col-12 mt-2">
      <div class='container ml-1'>
        <h2>La Cave</h2>
        <div class="paragSeparator"></div>
          <p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit</p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center flex-column col-12 h-50">
        <div class="row w-100 h-50">
          <div class='col-md-6 responviveCustomSize'></div>
          <div class='col-md-6'>
            <div class='container-fluid thumbailLaCave h-100 w-100' id="thumbailVerre"></div>
          </div>
        </div>
        <div class="row w-100 h-50">
          <div class='col-md-6 '>
            <div class='container-fluid thumbailLaCave h-100 w-100' id="thumbailSommelier"></div></div>
          <div class='col-md-6 responviveCustomSize'></div>
        </div>
    </div>
  </div>
</div>

<!-- SECOND SEPARATOR -->
<div class="container-fluid secondSeparator separatorResponsive vh-100"></div>

<!-- NOS VINS -->
<div class="container-fluid vh-100 marginResponsive" id="test">
  <div class="row">
    <div class="col-md-4">
      <h2>Nos Vins</h2>
      <div class="paragSeparator"></div>
      <p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit</p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class='col-md-12 '>
          <div class='container-fluid  thumbailRubrique' id="nosVinsVigne"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NOS CHAMPAGNES -->
<div class="container-fluid vh-100" id="test">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class='col-md-12 '>
          <div class='container-fluid  thumbailRubrique' id="nosChampagnesFlutes"></div>
        </div>
      </div>
    </div>
  <div class="col-md-4">
      <h2>Nos Champagnes</h2>
      <div class="paragSeparator"></div>
      <p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit</p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
  </div>
</div>

<!-- NOS BIERES -->
<div class="container-fluid vh-100" id="test">
  <div class="row">
    <div class="col-md-4">
      <h2>Nos Bières</h2>
      <div class="paragSeparator"></div>
      <p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit</p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class='col-md-12 '>
          <div class='container-fluid  thumbailRubrique' id="nosBieresChope"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NOS SPIRITUEUX -->
<div class="container-fluid vh-100" id="test">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class='col-md-12 '>
          <div class='container-fluid  thumbailRubrique' id="nosSpiritueuxElixir"></div>
        </div>
      </div>
    </div>
  <div class="col-md-4">
      <h2>Nos Spiritueux</h2>
      <div class="paragSeparator"></div>
      <p>Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis, circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum, in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus, reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit</p>
      <button type="button" class="btn btn-primary btn-lg">Large button</button>
    </div>
  </div>
</div>
<!-- BACK TO TOP -->
<a id="button"></a>
{% endblock %}
